# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Data
data/

# Other
logs/
saved_models/
